<aside class="h-full w-full space-y-6 border-r border-zinc-200 px-5 py-8">
  <div class="flex items-center gap-2">
    <img src="assets/logo.svg" alt="Image of website logo" />
    <strong class="text-xl font-semibold text-zinc-900">Title UI</strong>
  </div>
  <div
    class="flex w-full items-center gap-2 rounded-lg border border-zinc-300 px-3 py-2 shadow-sm"
  >
    <span class="material-symbols-outlined h-5 w-5 text-zinc-500">
      search
    </span>
    <input
      class="flex-1 border-0 bg-transparent p-0 text-zinc-900 placeholder-zinc-600"
      type="text"
      placeholder="Search"
    />
  </div>
  <project-main-navigation></project-main-navigation>
</aside>
